<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="blue darken-4">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">RLTS</a>
           BEACON
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="large material-icons">menu</i></a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/signout">SIGN OUT</a></li>
          </ul>
        </div>
      </nav>
    </div>


    <div class="center"><h4>EDIT BEACON</h4></div>
    <br>
    <br>
    <div class="row">
      <div class="col s3"></div>
      <form class="col s6" action="/beacon/edit/<%= beacon.beaconId%>" method="POST">
        <div class="row">
          <input type="hidden" value="<%= beacon.beaconId%>" name="beaconId" id="beaconId">
          <div class="input-field col s6">
            <input placeholder="Beacon Name" value="<%= beacon.name%>" id="beaconName" name="beaconName" type="text" class="validate">
            <label for="beaconName">Beacon Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Beacon UUID" value="<%= beacon.uuid%>" id="beaconUuid" name="beaconUuid" value="B9407F30-F5F8-466E-AFF9-25556B57FE6D" type="text" class="validate">
            <label for="beaconUuid">Beacon UUID</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Beacon Minor" value="<%= beacon.minor%>" id="beaconMinor" name="beaconMinor" type="number" class="validate">
            <label for="beaconMinor">Beacon Minor</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Beacon Major" value="<%= beacon.major%>" id="beaconMajor" name="beaconMajor" type="number" class="validate">
            <label for="beaconMajor">Beacon Major</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Advertising Interval" value="<%= beacon.advertisingInterval%>" id="advertisingInterval" name="advertisingInterval" type="number" class="validate">
            <label for="advertisingInterval">Advertising Interval</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Broadcast Power" value="<%= beacon.broadcastPower%>" id="broadcastPower" name="broadcastPower" type="number" class="validate">
            <label for="broadcastPower">Broadcast Power</label>
          </div>        
        </div>
        <div class="row right-align">
          <button class="btn waves-effect waves-light blue darken-1" type="submit" name="action"><i class="material-icons left">edit</i>EDIT
          </button>
        </div>
      </form>
      <div class="col s3"></div>
    </div>





    <ul id="slide-out" class="side-nav">
      <li>
        <div class="app-logo">
          <img src="/images/logo-placeholder.png">
        </div>
      </li>
      <li><a href="/home"><i class="material-icons">dashboard</i>DASHBOARD</a></li>
      <li><a class="blue lighten-1 white-text" href="/beacons"><i class="material-icons">my_location</i>BEACONS</a></li>
      <!-- Dropdown Structure -->
      <li><a class="dropdown-button" href="/users/administrator" data-activates="user-type"><i class="material-icons">account_circle</i>USERS</a></li>
        <ul id="user-type" class="dropdown-content">
          <li><a href="/users/administrator">Administrator</a></li>
          <li><a href="/users/teacher">Teacher</a></li>
          <li><a href="/users/student">Student</a></li>
          <li><a href="/users/nonteaching">Non-teaching</a></li>
        </ul>
      <li><a class="dropdown-button" href="/location/classroom" data-activates="location-type"><i class="material-icons">location_on</i>LOCATIONS</a></li>
        <ul id="location-type" class="dropdown-content">
          <li><a href="/location/classroom">Classroom</a></li>
          <li><a href="/location/facility">Facility</a></li>
        </ul>
      <li><a href="/timelogs"><i class="material-icons">access_time</i>TIMELOGS</a></li>      
    </ul>
  </body>
</html>
