<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/modules/tilemap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="blue darken-4">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center"></a>
          DASHBOARD
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="large material-icons">menu</i></a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/signout">SIGNOUT</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="dashboard" name="dashboard">
      <div id="statistics" name="statistics" class="row">
        <div class="col s1 center top-stat">
          <h3><%= statistics.userSize%></h3>
          Total Users
        </div>
        <div class="col s1 center top-stat">
          <h3><%= statistics.studentSize%></h3>
          Total Students
        </div>
        <div class="col s1 center top-stat">
          <h3><%= statistics.adminSize%></h3>
          Total Administrators
        </div>
        <div class="col s1 center top-stat">
          <h3><%= statistics.teacherSize%></h3>
          Total Teachers
        </div>
        <div class="col s1 center top-stat">
          <h3><%= statistics.nonSize%></h3>
          Total Nonteaching
        </div>
        <div class="col s1 center top-stat">
          <h3><%= statistics.locationSize%></h3>
          Total Locations
        </div>
        <div class="col s1 center top-stat">
          <h3><%= statistics.classroomSize%></h3>
          Total Classrooms
        </div>
        <div class="col s1 center top-stat">
          <h3><%= statistics.facilitySize%></h3>
          Total Facilities
        </div>
        <br><br>
        <div class="col s1"></div>
          <div class="input-field col s1">
            <input placeholder="From Date" type="text" class="datepicker" id="fromDate" name="fromDate">
            <label for="fromDate">From Date</label>
          </div>
          <div class="input-field col s1">
            <input placeholder="To Date" type="text" class="datepicker" id="toDate" name="toDate">
            <label for="toDate">To Date</label>
          </div>
          <div class="input-field col s1">
             <button id="date-button" class="waves-effect waves-light btn"><i class="material-icons">search</i></button>
          </div>
        
      </div>
      <hr>
      <div id="first-charts" class="row">
        <div class="col s7">
          <div id="heatmap" ></div>
        </div>
        <div class="col s5">
          <div id="top-locations" ></div>
        </div>
      </div>
      <div id="second-charts" class="row">
        <div class="col s7">
          <div id="system-activity" ></div>
        </div>
        <div class="col s5">
          <div id="location-activity" ></div>
        </div>
        
      </div>
      
    </div>


    <ul id="slide-out" class="side-nav">
      <li>
        <div class="app-logo">
          <img src="/images/logo-placeholder.png">
        </div>
      </li>
      <li><a class="grey white-text" href="/home"><i class="material-icons">dashboard</i>DASHBOARD</a></li>
      <li><a href="/beacons"><i class="material-icons">my_location</i>BEACONS</a></li>
      <!-- Dropdown Structure -->
      <li><a class="dropdown-button" href="/users/administrator" data-activates="user-type"><i class="material-icons">account_circle</i>USERS</a></li>
        <ul id="user-type" class="dropdown-content">
          <li><a href="/users/administrator">Administrator</a></li>
          <li><a href="/users/teacher">Teacher</a></li>
          <li><a href="/users/student">Student</a></li>
          <li><a href="/users/nonteaching">Non-teaching</a></li>
        </ul>
      <li><a class="dropdown-button" href="/location/classroom" data-activates="location-type"><i class="material-icons">location_on</i>LOCATIONS</a></li>
        <ul id="location-type" class="dropdown-content">
          <li><a href="/location/classroom">Classroom</a></li>
          <li><a href="/location/facility">Facility</a></li>
        </ul>
      <li><a href="/timelogs"><i class="material-icons">access_time</i>TIMELOGS</a></li>      
    </ul>
  </body>
  <script type="text/javascript">



    $('#date-button').on('click', function (e) {
      $.ajax({
        url: "http://127.0.0.1:3000/dashboard/systemactivity2",
        type: 'POST',
        dataType: 'json', 
        data: { fromDate : $('#fromDate').val(), toDate : $('#toDate').val() }
      }).done(function (data) {
        systemActivity(data)
      });

      $.ajax({
        url: "http://127.0.0.1:3000/dashboard/toplocations2",
        type: 'POST',
        dataType: 'json', 
        data: { fromDate : $('#fromDate').val(), toDate : $('#toDate').val() }
      }).done(function (data) {
        topLocations(data)
      });

      $.ajax({
        url: "http://127.0.0.1:3000/dashboard/locationactivity2",
        type: 'POST',
        dataType: 'json', 
        data: { fromDate : $('#fromDate').val(), toDate : $('#toDate').val() }
      }).done(function (data) {
        locationActivity(data)
      });
    })


    // LINE GRAPH
    $.ajax({
        url: "http://127.0.0.1:3000/dashboard/systemactivity",
        type: 'GET',
        dataType: 'json'
    }).done(function (data) {
      systemActivity(data)
    });

    var systemActivity = function (data) {
      Highcharts.chart('system-activity', {
          xAxis: {
              categories: data.categories, 
              title: {
                  text: 'Day'
              }
          },
          yAxis: {
            title: {
                text: 'Number of Logs'
            }
          }, 

          series: [{
              data: data.values, 
              name : 'Logs per Day'
          }], 
          title : {
            text : "System Activity (Number of Logs/Day)"
          }
      });
    }

    $.ajax({
        url: "http://127.0.0.1:3000/dashboard/toplocations",
        type: 'GET',
        dataType: 'json'
    }).done(function (data) {
      topLocations(data)
    });
    // BAR GRAPH
    var topLocations = function (data) {
      Highcharts.chart('top-locations', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top 5 Locations'
        },
        xAxis: {
            categories: data.name,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Enter and Exit (logs)',
            data: data.count

        }, {
            name: 'Average Time (minutes)',
            data: data.average

        }]
      });
    }

    $.ajax({
        url: "http://127.0.0.1:3000/dashboard/locationactivity",
        type: 'GET',
        dataType: 'json'
    }).done(function (data) {
      locationActivity(data)
    });

    var locationActivity = function (data) {
      Highcharts.chart('location-activity', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: 'Facility Location Activity (Total Logs from ' + data.date + ')'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: false
                  },
                  showInLegend: true
              }
          },
          series: [{
              name: 'Enter/Exit Logs',
              colorByPoint: true,
              data: data.data
          }]
      });
    }

    $.ajax({
        url: "http://127.0.0.1:3000/dashboard/heatmap",
        type: 'GET',
        dataType: 'json'
    }).done(function (data) {
      heatMap(data)
    });

    var heatMap = function (data) {
      Highcharts.chart('heatmap', {
        chart: {
            type: 'tilemap',
            marginTop: -20,
        },

        title: {
            text: 'Location Heatmap'
        },


        colors: [
            Highcharts.getOptions().colors[0],
            '#bbdefb'
        ],

        xAxis: {
            visible: false
        },

        yAxis: {
            visible: false
        },

        legend: {
            enabled: false
        },

        tooltip: {
            headerFormat: '',
            backgroundColor: 'rgba(247,247,247,0.95)',
            pointFormat: '<span style="color: {point.color}">●</span>' +
                '<span style="font-size: 13px; font-weight: bold"> {point.name}' +
                '</span><br>{point.desc}',
            style: {
                width: 170
            },
            padding: 10,
            hideDelay: 1000000
        },

        plotOptions: {
            series: {
                keys: ['x', 'y', 'name', 'desc'],
                tileShape: 'square',
                dataLabels: {
                    enabled: true,
                    format: '{point.name}',
                    color: '#000000',
                    style: {
                        textOutline: false
                    }
                }
            }
        },

        series: [{
            name: 'Steps',
            colorByPoint: true, // Pick new color for each point from colors array
            data: data.data
        }]
    }, function (chart) {
        chart.tooltip.refresh(chart.series[0].points[0]); // Show tooltip of the first point on load
    });

    }
  </script>
</html>
