<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="blue darken-4">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">RLTS</a>
          TIMELOGS
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="large material-icons">menu</i></a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/signout">SIGN OUT</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <br>
    <div class="row" style="padding-left: 40px; padding-right: 40px; ">
      <div class="col s4">
        <a href="/timelogs/add" class="btn-large waves-effect waves-light blue darken-1" type="submit" name="action"><i class="material-icons left">add</i>ADD TIMELOG
          </a>
      </div>
      <form method="POST" action="/timelogs/search">
      <div class="col s8">
        <div class="row">
          <div class="input-field col s3">
            <input placeholder="From Date" type="text" class="datepicker" id="fromDate" name="fromDate">
            <label for="fromDate">From Date</label>
          </div>
          <div class="input-field col s3">
            <input placeholder="To Date" type="text" class="datepicker" id="toDate" name="toDate">
            <label for="toDate">To Date</label>
          </div>
          <div class="input-field col s4">
            <input value="search" placeholder="LN, FN, Username, Location" type="text" id="search" name="search">
            <label for="search">Search Term</label>
          </div>
          <div class="input-field col s2">
            <button type="submit" class="waves-effect waves-light blue darken-1 btn"><i class="material-icons">search</i></button>
          </div>
        </div>
      </div>
      </form>
    </div>

    <div class="row" style="padding-left: 50px; padding-right: 50px; ">
      <table class="bordered highlight responsive-table" style="border: ridge;">
        <thead class="blue lighten-4">
          <th style="padding-left: 50px;">ID</th>
          <th>PERSON</th>
          <th>USERNAME</th>
          <th>TIME</th>
          <th>DATE</th>
          <th>ENTRY TYPE</th>
          <th>LOCATION</th>
          <th></th>
        </thead>
        <tbody>
          <div class="row">
            <% if (timelogs) { %>
            <% for(var i=0; i < timelogs.length; i++) { %>

              <form method="POST" action="/">
                <input type="hidden" value="<%= timelogs[i].timelogId%>" id="timelogId" name="timelogId">
                <input type="hidden" value="<%= timelogs[i].entryType%>" id="entryType" name="entryType">
                <input type="hidden" value="<%= timelogs[i].locationName%>" id="locationName" name="locationName">
                <input type="hidden" value="<%= timelogs[i].locationId%>" id="locationId" name="locationId">
                <input type="hidden" value="<%= timelogs[i].userId%>" id="userId" name="userId">
                <input type="hidden" value="<%= timelogs[i].username%>" id="username" name="username">
                <input type="hidden" value="<%= timelogs[i].fullName%>" id="fullName" name="fullName">

                <tr>
                  <td style="padding-left: 50px;"><%= timelogs[i].timelogId %></td>
                  <td><%= timelogs[i].fullName %></td>
                  <td><%= timelogs[i].username %></td>
                  <td><%= timelogs[i].time %></td>
                  <td><%= timelogs[i].date %></td>
                  <td><%= timelogs[i].entryType %></td>
                  <td><%= timelogs[i].locationName %></td>
                  
                  <td><button type="submit" class="right" formaction="/timelogs/delete/<%= timelogs[i].timelogId%>"><i class="small material-icons">delete</i></button></td>
                </tr>
              </form>
            <% } %>
            <% } %>
          </div>
        </tbody>
      </table>
    </div>

    <ul id="slide-out" class="side-nav">
      <li>
        <div class="app-logo">
          <img src="/images/logo-placeholder.png">
        </div>
      </li>
      <li><a href="/home"><i class="material-icons">dashboard</i>DASHBOARD</a></li>
      <li><a href="/beacons"><i class="material-icons">my_location</i>BEACONS</a></li>
      <!-- Dropdown Structure -->
      <li><a class="dropdown-button" href="/users/administrator" data-activates="user-type"><i class="material-icons">account_circle</i>USERS</a></li>
        <ul id="user-type" class="dropdown-content">
          <li><a href="/users/administrator">Administrator</a></li>
          <li><a href="/users/teacher">Teacher</a></li>
          <li><a href="/users/student">Student</a></li>
          <li><a href="/users/nonteaching">Non-teaching</a></li>
        </ul>
      <li><a class="dropdown-button" href="/location/classroom" data-activates="location-type"><i class="material-icons">location_on</i>LOCATIONS</a></li>
        <ul id="location-type" class="dropdown-content">
          <li><a href="/location/classroom">Classroom</a></li>
          <li><a href="/location/facility">Facility</a></li>
        </ul>
      <li><a class="white-text blue lighten-1" href="/timelogs"><i class="material-icons">access_time</i>TIMELOGS</a></li>      
    </ul>
  </body>
</html>
